In [2]:
import pandas as pd
import numpy as np

In [3]:
retail = pd.read_csv("D:\Data_Science\Project\data\\raw\Retail_data.csv")
retail.head(n=5)

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\RUSHANK\AppData\Local\Temp\ipykernel_34524\3541439140.py:1: SyntaxWarning: invalid escape sequence '\D'
  retail = pd.read_csv("D:\Data_Science\Project\data\\raw\Retail_data.csv")

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [4]:
retail.set_index('Transaction ID', inplace = True)

In [5]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1000 non-null   object
 1   Customer ID       1000 non-null   object
 2   Gender            1000 non-null   object
 3   Age               1000 non-null   int64
 4   Product Category  1000 non-null   object
 5   Quantity          1000 non-null   int64
 6   Price per Unit    1000 non-null   int64
 7   Total Amount      1000 non-null   int64
dtypes: int64(4), object(4)
memory usage: 70.3+ KB

In [6]:
retail.describe()

              Age     Quantity  Price per Unit  Total Amount
count  1000.00000  1000.000000     1000.000000   1000.000000
mean     41.39200     2.514000      179.890000    456.000000
std      13.68143     1.132734      189.681356    559.997632
min      18.00000     1.000000       25.000000     25.000000
25%      29.00000     1.000000       30.000000     60.000000
50%      42.00000     3.000000       50.000000    135.000000
75%      53.00000     4.000000      300.000000    900.000000
max      64.00000     4.000000      500.000000   2000.000000

# loc -- Find the data of the given values

*Use loc when you want to access data by name/label — not position*

for instance: 

df.loc['a', 'Name']         # Alice
df.loc[:, 'City']           # All rows in 'City' column
df.loc[df['Age'] > 26]      # Rows where Age > 26

# iloc -- Find the data of the given index 

*Use iloc when you want to access data by position (like array indices)*

for instance:

df.iloc[0, 1]       # Get the value at row 0, column 1 → 25
df.iloc[:, 2]       # All rows in the third column ('City')
df.iloc[1:3, :2]    # Rows 1 to 2 (excluding 3), fir

In [7]:
retail.head(5)

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
Transaction ID,,,,,,,,
1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [8]:
retail.loc[3, 'Product Category']

'Electronics'

In [9]:
retail[retail.loc[:,'Age'] < 20].count()

Date                42
Customer ID         42
Gender              42
Age                 42
Product Category    42
Quantity            42
Price per Unit      42
Total Amount        42
dtype: int64

In [10]:
retail.iloc[2,:]

Date                 2023-01-13
Customer ID             CUST003
Gender                     Male
Age                          50
Product Category    Electronics
Quantity                      1
Price per Unit               30
Total Amount                 30
Name: 3, dtype: object

In [11]:
retail.iloc[3,0]

'2023-05-21'

In [12]:
retail.iloc[:,4]

Transaction ID
1            Beauty
2          Clothing
3       Electronics
4          Clothing
5            Beauty
           ...
996        Clothing
997          Beauty
998          Beauty
999     Electronics
1000    Electronics
Name: Product Category, Length: 1000, dtype: object

In [13]:
# For setting a filter to get the data 

retail.loc[retail['Product Category'] == 'Electronics', :]

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
Transaction ID,,,,,,,,
3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
13,2023-08-05,CUST013,Male,22,Electronics,3,500,1500
15,2023-01-16,CUST015,Female,42,Electronics,4,500,2000
...,...,...,...,...,...,...,...,...
989,2023-12-28,CUST989,Female,44,Electronics,1,25,25
992,2023-08-21,CUST992,Female,57,Electronics,2,30,60
993,2023-02-06,CUST993,Female,48,Electronics,3,50,150
999,2023-12-05,CUST999,Female,36,Electronics,3,50,150
1000,2023-04-12,CUST1000,Male,47,Electronics,4,30,120

In [14]:
retail.loc[(retail['Product Category'] == 'Electronics'), ['Customer ID' , 'Total Amount']]

               Customer ID  Total Amount
Transaction ID
3                  CUST003            30
8                  CUST008           100
9                  CUST009           600
13                 CUST013          1500
15                 CUST015          2000
...                    ...           ...
989                CUST989            25
992                CUST992            60
993                CUST993           150
999                CUST999           150
1000              CUST1000           120

[342 rows x 2 columns]

In [26]:
# Additing more conditions 

retail.loc[
    (retail['Product Category'] == 'Clothing') & (retail['Price per Unit'] > 300),
           ['Date', 'Gender', 'Price per Unit', 'Total Amount']
           ].sort_values('Total Amount', ascending=False)

                      Date  Gender  Price per Unit  Total Amount
Transaction ID
124             2023-10-27    Male             500          2000
269             2023-02-01    Male             500          2000
253             2023-08-31  Female             500          2000
166             2023-04-02    Male             500          2000
420             2023-01-23  Female             500          2000
...                    ...     ...             ...           ...
717             2023-03-11    Male             500           500
904             2023-07-04    Male             500           500
845             2023-01-06    Male             500           500
814             2023-09-05  Female             500           500
984             2023-08-29    Male             500           500

[64 rows x 4 columns]

# Filtering data with conditions

In [16]:
retail.head(10)

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
Transaction ID,,,,,,,,
1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
10,2023-10-07,CUST010,Female,52,Clothing,4,50,200

In [24]:
retail[(retail['Gender'].str.contains('Female', case = False)) & (retail['Product Category'].str.contains('Clothing'))].sort_values('Total Amount', ascending=False)

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,GST
Transaction ID,,,,,,,,,
253,2023-08-31,CUST253,Female,53,Clothing,4,500,2000,360.0
561,2023-05-27,CUST561,Female,64,Clothing,4,500,2000,360.0
476,2023-08-29,CUST476,Female,27,Clothing,4,500,2000,360.0
626,2023-09-29,CUST626,Female,26,Clothing,4,500,2000,360.0
420,2023-01-23,CUST420,Female,22,Clothing,4,500,2000,360.0
...,...,...,...,...,...,...,...,...,...
423,2023-03-08,CUST423,Female,27,Clothing,1,25,25,4.0
585,2023-05-01,CUST585,Female,24,Clothing,1,25,25,4.0
764,2023-03-25,CUST764,Female,40,Clothing,1,25,25,4.0
877,2023-06-19,CUST877,Female,58,Clothing,1,25,25,4.0
952,2023-11-13,CUST952,Female,57,Clothing,1,25,25,4.0

In [28]:
retail[(retail['Gender'].str.contains('Female', case = False)) & (retail['Product Category'].str.contains('Clothing'))].sort_values('Total Amount', ascending=True)[['Customer ID','Price per Unit', 'Total Amount']]

               Customer ID  Price per Unit  Total Amount
Transaction ID
44                 CUST044              25            25
103                CUST103              25            25
205                CUST205              25            25
223                CUST223              25            25
379                CUST379              25            25
...                    ...             ...           ...
595                CUST595             500          2000
664                CUST664             500          2000
561                CUST561             500          2000
735                CUST735             500          2000
789                CUST789             500          2000

[174 rows x 3 columns]

In [19]:
retail[:10][['Customer ID', 'Total Amount']]  #This works as well as iloc 

retail.iloc[:10] [['Customer ID', 'Total Amount']]  #This is using iloc

               Customer ID  Total Amount
Transaction ID
1                  CUST001           150
2                  CUST002          1000
3                  CUST003            30
4                  CUST004           500
5                  CUST005           100
6                  CUST006            30
7                  CUST007            50
8                  CUST008           100
9                  CUST009           600
10                 CUST010           200

In [20]:
# Alternate ways to do this is using loc

retail.loc[:10] [['Customer ID', 'Total Amount']]

               Customer ID  Total Amount
Transaction ID
1                  CUST001           150
2                  CUST002          1000
3                  CUST003            30
4                  CUST004           500
5                  CUST005           100
6                  CUST006            30
7                  CUST007            50
8                  CUST008           100
9                  CUST009           600
10                 CUST010           200

**Using numpy ontop of Pandas is gives us additional operation capabilites to compute logical and mathematical operations 
on piece of data.**

In [47]:
retail['GST'] = round(retail['Total Amount'] * 0.18)
retail['GST'].astype(int)
retail.head(5)

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,GST
Transaction ID,,,,,,,,,
1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,27.0
2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,180.0
3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,5.0
4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,90.0
5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,18.0

In [35]:
retail.describe()

              Age     Quantity  Price per Unit  Total Amount          GST
count  1000.00000  1000.000000     1000.000000   1000.000000  1000.000000
mean     41.39200     2.514000      179.890000    456.000000    82.073000
std      13.68143     1.132734      189.681356    559.997632   100.809376
min      18.00000     1.000000       25.000000     25.000000     4.000000
25%      29.00000     1.000000       30.000000     60.000000    11.000000
50%      42.00000     3.000000       50.000000    135.000000    24.500000
75%      53.00000     4.000000      300.000000    900.000000   162.000000
max      64.00000     4.000000      500.000000   2000.000000   360.000000

In [49]:
#Let's update GST where the Beauty taxes are up to 20%

retail.loc[retail['Product Category'] == 'Beauty', 'GST'] = retail['Total Amount'] * 0.2   #Here we also need a GST value as we need to update on this 
retail.head(5)

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,GST
Transaction ID,,,,,,,,,
1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,30.0
2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,180.0
3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,5.0
4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,90.0
5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,20.0

**We can apply queries on the dataframes as SQL queries **

In [ ]:
retail.query('`Total Amount` > 300')

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,GST
Transaction ID,,,,,,,,,
2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,180.0
4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,90.0
9,2023-12-13,CUST009,Male,63,Electronics,2,300,600,108.0
13,2023-08-05,CUST013,Male,22,Electronics,3,500,1500,270.0
15,2023-01-16,CUST015,Female,42,Electronics,4,500,2000,360.0
...,...,...,...,...,...,...,...,...,...
984,2023-08-29,CUST984,Male,56,Clothing,1,500,500,90.0
986,2023-01-17,CUST986,Female,49,Clothing,2,500,1000,180.0
987,2023-04-29,CUST987,Female,30,Clothing,3,300,900,162.0
990,2023-05-25,CUST990,Female,58,Beauty,2,500,1000,200.0
994,2023-12-18,CUST994,Female,51,Beauty,2,500,1000,200.0

In [62]:
retail.query("Gender == 'Male' & `Total Amount` > 300").sort_values('Total Amount', ascending=False)

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,GST
Transaction ID,,,,,,,,,
65,2023-12-05,CUST065,Male,51,Electronics,4,500,2000,360.0
139,2023-12-15,CUST139,Male,36,Beauty,4,500,2000,400.0
124,2023-10-27,CUST124,Male,33,Clothing,4,500,2000,360.0
155,2023-05-17,CUST155,Male,31,Electronics,4,500,2000,360.0
152,2023-02-28,CUST152,Male,43,Electronics,4,500,2000,360.0
...,...,...,...,...,...,...,...,...,...
818,2023-05-18,CUST818,Male,30,Electronics,1,500,500,90.0
883,2023-05-09,CUST883,Male,40,Electronics,1,500,500,90.0
904,2023-07-04,CUST904,Male,28,Clothing,1,500,500,90.0
934,2023-07-25,CUST934,Male,30,Beauty,1,500,500,100.0
984,2023-08-29,CUST984,Male,56,Clothing,1,500,500,90.0

# Using Lambda functions

Lambda function can be used inside panda dataframes to perform user defined operations