In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [7]:
flat = pd.read_csv("D:\Data_Science\datasets\Inferential Statistics - Powai Flats Rent.csv", index_col='S. No.')
flat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 1 to 200
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Monthly Rent  200 non-null    int64
dtypes: int64(1)
memory usage: 3.1 KB

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\RUSHANK\AppData\Local\Temp\ipykernel_24248\3215145940.py:1: SyntaxWarning: invalid escape sequence '\D'
  flat = pd.read_csv("D:\Data_Science\datasets\Inferential Statistics - Powai Flats Rent.csv", index_col='S. No.')

In [8]:
flat.head(5)

        Monthly Rent
S. No.
1              44000
2              49800
3              45400
4              40700
5              43900

In [12]:
flat.describe()

       Monthly Rent
count    200.000000
mean   45571.000000
std     7457.521851
min    30100.000000
25%    41250.000000
50%    44950.000000
75%    49825.000000
max    59800.000000

In [ ]:
mean_rent = flat['Monthly Rent'].mean()
std_rent = flat['Monthly Rent'].std(ddof=1)
n = len(flat)

print(f"Mean Rent: ₹{mean_rent:.2f}")
print(f"Standard Deviation: ₹{std_rent:.2f}")

Mean Rent: ₹45571.00
Standard Deviation: ₹7457.52

In [16]:
z= 1.96
se = std_rent/np.sqrt(n)
margine_error = z * se

low_lim = mean_rent - margine_error
high_lim = mean_rent + margine_error

print(f"The confidence level for 95%: {low_lim:.2f} and {high_lim:.2f}")

The confidence level for 95%: 44537.44 and 46604.56

In [18]:
z= 3.4
se = std_rent/np.sqrt(n)
margine_error = z * se

low_lim = mean_rent - margine_error
high_lim = mean_rent + margine_error

print(f"The confidence level for 95%: {low_lim:.2f} and {high_lim:.2f}")

The confidence level for 95%: 43778.09 and 47363.91